---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_city=Bend&by_state=Oregon&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"511cee0164fdcdff0a4e67601fa36d09"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"10-barrel-brewing-co-bend-1","name":"10 Barrel Brewing Co","brewery_type":"large","street":"62970
        18th St","address_2":null,"address_3":null,"city":"Bend","state":"Oregon","county_province":null,"postal_code":"97701-9847","country":"United
        States","longitude":"-121.28170597038259","latitude":"44.08683530625218","phone":"5415851007","website_url":"http://www.10barrel.com","updated_at":"2023-01-04T04:46:02.393Z","created_at":"2023-01-04T04:46:02.393Z"},{"id":"10-barrel-brewing-co-bend-2","name":"10
        Barrel Brewing Co","brewery_type":"large","street":"1135 NW Galveston Ave
        Ste B","address_2":null,"address_3":null,"city":"Bend","state":"Oregon","county_province":null,"postal_code":"97703-2465","country":"United
        States","longitude":"-121.32880209261799","latitude":"44.057564901366796","phone":"5415851007","website_url":null,"updated_at":"2023-01-04T04:46:02.393Z","created_at":"2023-01-04T04:46:02[...]
