---
http_interactions:
- request:
    method: get
    uri: https://api.collectapi.com/gasPrice/stateUsaPrice?state=HI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 7sRia4D4j8Y3aU5s9VD4MM:2q6Ifm2XpnsobKgIPrA3sc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"346-iTuwexA7UISkess+bElZSRhzbUw"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":{"state":{"currency":"usd","name":"Hawaii","lowerName":"hawaii","gasoline":"5.015","midGrade":"5.244","premium":"5.480","diesel":"6.092"},"cities":[{"currency":"usd","gasoline":"4.987","midGrade":"5.165","premium":"5.511","diesel":"6.167","name":"Hilo","lowerName":"hilo"},{"currency":"usd","gasoline":"4.962","midGrade":"5.213","premium":"5.468","diesel":"5.971","name":"Honolulu","lowerName":"honolulu"},{"currency":"usd","gasoline":"5.046","midGrade":"5.294","premium":"5.454","diesel":"6.310","name":"Kahului","lowerName":"kahului"},{"currency":"usd","gasoline":"5.428","midGrade":"5.750","premium":"5.811","diesel":"6.641","name":"Lihue
        (Kauai)","lowerName":"lihue (kauai)"},{"currency":"usd","gasoline":"5.046","midGrade":"5.294","premium":"5.454","diesel":"6.310","name":"Wailuku","lowerName":"wailuku"}]}}'
  recorded_at: Sat, 07 Jan 2023 19:33:23 GMT
recorded_with: VCR 6.1.0
