---
http_interactions:
- request:
    method: get
    uri: https://api.collectapi.com/gasPrice/stateUsaPrice?state=FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 7sRia4D4j8Y3aU5s9VD4MM:2q6Ifm2XpnsobKgIPrA3sc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e73-UwhgTGYc5+U0luv0ycMTcBgDtZM"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":{"state":{"currency":"usd","name":"Florida","lowerName":"florida","gasoline":"3.286","midGrade":"3.671","premium":"3.998","diesel":"4.774"},"cities":[{"currency":"usd","gasoline":"3.268","midGrade":"3.659","premium":"3.977","diesel":"4.786","name":"Bradenton-Sarasota-Venice","lowerName":"bradenton-sarasota-venice"},{"currency":"usd","gasoline":"3.112","midGrade":"3.422","premium":"3.788","diesel":"4.446","name":"Crestview-Fort
        Walton Beach","lowerName":"crestview-fort walton beach"},{"currency":"usd","gasoline":"3.269","midGrade":"3.644","premium":"3.982","diesel":"4.799","name":"Daytona
        Beach","lowerName":"daytona beach"},{"[...]
