---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 96c401bc3baf0c0d272c30c473cf06bded9ad3ba
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b86df06088de1da8df37f7b0feb6e72e"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100,1000'
      X-Ratelimit-Usage:
      - '13,17'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":16804102,"resource_state":1},"name":"24:19
        row","distance":5016.0,"moving_time":1460,"elapsed_time":1460,"total_elevation_gain":0,"type":"Rowing","sport_type":"Rowing","id":8274604634,"start_date":"2022-12-21T13:39:40Z","start_date_local":"2022-12-21T06:39:40Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"location_city":null,"location_state":null,"location_country":null,"achievement_count":0,"kudos_count":2,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a8274604634","summary_polyline":"","resource_state":2},"trainer":true,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":null,"start_latlng":[],"end_latlng":[],"average_speed":3.436,"max_speed":3.82,"average_cadence":34.6,"average_watts":114.0,"max_watts":133,"weighted_average_watts":114,"kilojoules":166.5,"device_watts":true,"has_heartrate":false,"heartrate_opt_out":false,"display_hide_heartrate_option":false,"upload_id":8869316394,"upload_id_str":"8869316394","external_id":"70546688.fit","from_accepted_tag":false,"pr_count":0,"total_photo_count":1,"has_kudoed":false}]'
  recorded_at: Sat, 07 Jan 2023 19:14:46 GMT
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/8274604634
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 96c401bc3baf0c0d272c30c473cf06bded9ad3ba
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"01c00591ed9557909505c79086b6b0c6"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100,1000'
      X-Ratelimit-Usage:
      - '14,18'
    body:
      encoding: ASCII-8BIT
      string: '{"resource_state":3,"athlete":{"id":16804102,"resource_state":1},"name":"24:19
        row","distance":5016.0,"moving_time":1460,"elapsed_time":1460,"total_elevation_gain":0,"type":"Rowing","sport_type":"Rowing","id":8274604634,"start_date":"2022-12-21T13:39:40Z","start_date_local":"2022-12-21T06:39:40Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"location_city":null,"location_state":null,"location_country":null,"achievement_count":0,"kudos_count":2,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a8274604634","polyline":"","resource_state":3,"summary_polyline":""},"trainer":true,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":null,"start_latlng":[],"end_latlng":[],"average_speed":3.436,"max_speed":3.82,"average_cadence":34.6,"average_watts":114.0,"max_watts":133,"weighted_average_watts":114,"kilojoules":166.5,"device_watts":true,"has_heartrate":false,"heartrate_opt_out":false,"display_hide_heartrate_option":false,"upload_id":8869316394,"upload_id_str":"8869316394","external_id":"70546688.fit","from_accepted_tag":false,"pr_count":0,"total_photo_count":1,"has_kudoed":false,"description":null,"calories":277.0,"perceived_exertion":null,"prefer_perceived_exertion":null,"segment_efforts":[],"splits_metric":[{"distance":1004.9,"elapsed_time":295,"elevation_difference":null,"moving_time":295,"split":1,"average_speed":3.41,"average_grade_adjusted_speed":null,"pace_zone":0},{"distance":1000.1,"elapsed_time":287,"elevation_difference":null,"moving_time":287,"split":2,"average_speed":3.48,"average_grade_adjusted_speed":null,"pace_zone":0},{"distance":996.3,"elapsed_time":288,"elevation_difference":null,"moving_time":288,"split":3,"average_speed":3.46,"average_grade_adjusted_speed":null,"pace_zone":0},{"distance":1004.2,"elapsed_time":294,"elevation_difference":null,"moving_time":294,"split":4,"average_speed":3.42,"average_grade_adjusted_speed":null,"pace_zone":0},{"distance":1010.5,"elapsed_time":296,"elevation_difference":null,"moving_time":296,"split":5,"average_speed":3.41,"average_grade_adjusted_speed":null,"pace_zone":0}],"splits_standard":[{"distance":1614.2,"elapsed_time":470,"elevation_difference":null,"moving_time":470,"split":1,"average_speed":3.43,"average_grade_adjusted_speed":null,"pace_zone":0},{"distance":1609.6,"elapsed_time":464,"elevation_difference":null,"moving_time":464,"split":2,"average_speed":3.47,"average_grade_adjusted_speed":null,"pace_zone":0},{"distance":1606.5,"elapsed_time":472,"elevation_difference":null,"moving_time":472,"split":3,"average_speed":3.4,"average_grade_adjusted_speed":null,"pace_zone":0},{"distance":185.7,"elapsed_time":54,"elevation_difference":null,"moving_time":54,"split":4,"average_speed":3.44,"average_grade_adjusted_speed":null,"pace_zone":0}],"laps":[{"id":27777336691,"resource_state":2,"name":"Lap
        1","activity":{"id":8274604634,"resource_state":1},"athlete":{"id":16804102,"resource_state":1},"elapsed_time":300,"moving_time":300,"start_date":"2022-12-21T13:39:40Z","start_date_local":"2022-12-21T06:39:40Z","distance":1022.0,"start_index":0,"end_index":164,"total_elevation_gain":0,"average_speed":3.41,"max_speed":3.798,"average_cadence":34.4,"device_watts":true,"average_watts":114.4,"lap_index":1,"split":1},{"id":27777336692,"resource_state":2,"name":"Lap
        2","activity":{"id":8274604634,"resource_state":1},"athlete":{"id":16804102,"resource_state":1},"elapsed_time":300,"moving_time":300,"start_date":"2022-12-21T13:44:42Z","start_date_local":"2022-12-21T06:44:42Z","distance":1044.99,"start_index":165,"end_index":332,"total_elevation_gain":0,"average_speed":3.48,"max_speed":3.82,"average_cadence":33.8,"device_watts":true,"average_watts":117.7,"lap_index":2,"split":2},{"id":2777733[...]
