---
http_interactions:
- request:
    method: post
    uri: https://www.gasbuddy.com/gaspricemap/county?lat=27.766279&lng=-81.686783&usa=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Accept-Ch:
      - Sec-CH-UA,Sec-CH-UA-Mobile,Sec-CH-UA-Platform,Sec-CH-UA-Arch,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-Device-Memory
      X-Datadome:
      - protected
    body:
      encoding: ASCII-8BIT
      string: '[{"Id":2966,"Name":"Polk","State":"FL","Price":3.370,"Distance":15.60}]'
  recorded_at: Thu, 19 Jan 2023 19:03:54 GMT
recorded_with: VCR 6.1.0
