---
http_interactions:
- request:
    method: get
    uri: https://api.collectapi.com/gasPrice/stateUsaPrice?state=TN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - apikey 7sRia4D4j8Y3aU5s9VD4MM:2q6Ifm2XpnsobKgIPrA3sc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"669-V12QSYBMcQGerCVPfWELIkKCXd4"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":{"state":{"currency":"usd","name":"Tennessee","lowerName":"tennessee","gasoline":"2.975","midGrade":"3.343","premium":"3.709","diesel":"4.398"},"cities":[{"currency":"usd","gasoline":"2.906","midGrade":"3.262","premium":"3.639","diesel":"4.270","name":"Chattanooga
        (TN only)","lowerName":"chattanooga (tn only)"},{"currency":"usd","gasoline":"2.884","midGrade":"3.279","premium":"3.588","diesel":"4.099","name":"Clarksville-Hopkinsville
        (TN only)","lowerName":"clarksville-hopkinsville (tn only)"},{"currency":"usd","gasoline":"3.002","midGrade":"3.323","premium":"3.711","diesel":"4.415","name":"Cleveland","lowerName":"cleveland"},{"currency":"usd","gasoline":"3.009","midGrade":"3.501","premium":"3.813","diesel":"4.572","name":"Jackson","lowerName":"jackson"},{"currency":"usd","gasoline":"3.068","midGrade":"3.403","premium":"3.703","diesel":"4.483","name":"Johnson
        City","lowerName":"johnson city"},{"currency":"usd","gasoline":"3.023","midGrade":"3.315","premium":"3.649","diesel":"4.552","name":"Kingsport-Bristol","lowerName":"kingsport-bristol"},{"currency":"usd","gasoline":"2.997","midGrade":"3.334","premium":"3.700","diesel":"4.617","name":"Knoxville","lowerName":"knoxville"},{"currency":"usd","gasoline":"3.004","midGrade":"3.462","premium":"3.840","diesel":"4.588","name":"Memphis
        (TN only)","lowerName":"memphis (tn only)"},{"currency":"usd","gasoline":"3.050","midGrade":"3.376","premium":"3.780","diesel":"4.708","name":"Morristown","lowerName":"morristown"},{"currency":"usd","gasoline":"2.962","midGrade":"3.336","premium":"3.703","diesel":"4.247","name":"Nashville","lowerName":"nashville"}]}}'
  recorded_at: Wed, 11 Jan 2023 00:25:33 GMT
recorded_with: VCR 6.1.0
