---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b346fcd076be56c02c30d9c7f511b93605126346
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1869e25089870a9fec162e0f7caf6285"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100,1000'
      X-Ratelimit-Usage:
      - '1,1'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":111365515,"resource_state":1},"name":"Morning
        Run","distance":4502.6,"moving_time":1272,"elapsed_time":1312,"total_elevation_gain":0,"type":"Run","sport_type":"Run","workout_type":null,"id":8412762253,"start_date":"2023-01-18T16:17:40Z","start_date_local":"2023-01-18T09:17:40Z","timezone":"(GMT-07:00)
        Mexico/BajaSur","utc_offset":-25200.0,"location_city":null,"location_state":null,"location_country":"United
        States","achievement_count":0,"kudos_count":1,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a8412762253","summary_polyline":"","resource_state":2},"trainer":true,"commute":false,"manual":false,"private":false,"visibility":"followers_only","flagged":false,"gear_id":null,"start_latlng":[],"end_latlng":[],"average_speed":3.54,"max_speed":4.613,"average_cadence":81.0,"average_temp":21,"has_heartrate":true,"average_heartrate":150.3,"max_heartrate":174.0,"heartrate_opt_out":false,"display_hide_heartrate_option":true,"upload_id":9024561855,"upload_id_str":"9024561855","external_id":"garmin_ping_255976212004","from_accepted_tag":false,"pr_count":0,"total_photo_count":0,"has_kudoed":false}]'
  recorded_at: Thu, 19 Jan 2023 19:08:49 GMT
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/8412762253
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b346fcd076be56c02c30d9c7f511b93605126346
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d5a50b65efc56a0b7c9fe4c72a23ee13"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100,1000'
      X-Ratelimit-Usage:
      - '2,2'
    body:
      encoding: ASCII-8BIT
      string: '{"resource_state":3,"athlete":{"id":111365515,"resource_state":1},"name":"Morning
        Run","distance":4502.6,"moving_time":1272,"elapsed_time":1312,"total_elevation_gain":0,"type":"Run","sport_type":"Run","workout_type":null,"id":8412762253,"start_date":"2023-01-18T16:17:40Z","start_date_local":"2023-01-18T09:17:40Z","timezone":"(GMT-07:00)
        Mexico/BajaSur","utc_offset":-25200.0,"location_city":null,"location_state":null,"location_country":"United
        States","achievement_count":0,"kudos_count":1,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a8412762253","polyline":"","resource_state":3,"summary_polyline":""},"trainer":true,"commute":false,"manual":false,"private":false,"visibility":"followers_only","flagged":false,"gear_id":null,"start_latlng":[],"end_latlng":[],"average_speed":3.54,"max_speed":4.613,"average_cadence":81.0,"average_temp":21,"has_heartrate":true,"average_heartrate":150.3,"max_heartrate":174.0,"heartrate_opt_out":false,"display_hide_heartrate_option":true,"upload_id":9024561855,"upload_id_str":"9024561855","external_id":"garmin_ping_255976212004","from_accepted_tag":false,"pr_count":0,"total_photo_count":0,"has_kudoed":false,"description":null,"calories":205.0,"perceived_exertion":null,"prefer_perceived_exertion":null,"segment_efforts":[],"splits_metric":[{"distance":1019.0,"elapsed_time":284,"elevation_difference":null,"moving_time":284,"split":1,"average_speed":3.59,"average_grade_adjusted_speed":null,"average_heartrate":134.77464788732394,"pace_zone":0},{"distance":997.3,"elapsed_time":356,"elevation_difference":null,"moving_time":315,"split":2,"average_speed":3.17,"average_grade_adjusted_speed":null,"average_heartrate":139.13483146067415,"pace_zone":0},{"distance":986.3,"elapsed_time":246,"elevation_difference":null,"moving_time":246,"split":3,"average_speed":4.01,"average_grade_adjusted_speed":null,"average_heartrate":158.08536585365854,"pace_zone":0},{"distance":1003.0,"elapsed_time":267,"elevation_difference":null,"moving_time":267,"split":4,"average_speed":3.76,"average_grade_adjusted_speed":null,"average_heartrate":164.65543071161048,"pace_zone":0},{"distance":497.0,"elapsed_time":159,"elevation_difference":null,"moving_time":159,"split":5,"average_speed":3.13,"average_grade_adjusted_speed":null,"average_heartrate":166.48427672955975,"pace_zone":0}],"splits_standard":[{"distance":1612.8,"elapsed_time":540,"elevation_difference":null,"moving_time":499,"split":1,"average_speed":3.23,"average_grade_adjusted_speed":null,"average_heartrate":133.55555555555554,"pace_zone":0},{"distance":1606.2,"elapsed_time":398,"elevation_difference":null,"moving_time":398,"split":2,"average_speed":4.04,"average_grade_adjusted_speed":null,"average_heartrate":159.06281407035175,"pace_zone":0},{"distance":1283.6,"elapsed_time":374,"elevation_difference":null,"moving_time":374,"split":3,"average_speed":3.43,"average_grade_adjusted_speed":null,"average_heartrate":164.98395721925132,"pace_zone":0}],"laps":[{"id":28316729876,"resource_state":2,"name":"Lap
        1","activity":{"id":8412762253,"resource_state":1},"athlete":{"id":111365515,"resource_state":1},"elapsed_time":540,"moving_time":499,"start_date":"2023-01-18T16:17:40Z","start_date_local":"2023-01-18T09:17:40Z","distance":1609.34,"start_index":0,"end_index":98,"total_elevation_gain":0,"average_speed":3.23,"max_speed":4.186,"average_cadence":79.0,"device_watts":false,"average_heartrate":133.6,"max_heartrate":154.0,"lap_index":1,"split":1,"pace_zone":0},{"id":28316729878,"resource_state":2,"name":"Lap
        2","activity":{"id":8412762253,"resource_state":1},"athlete":{"id":111365515,"resource_state":1},"elapsed_time":398,"moving_time":398,"start_date":"2023-01-18T16:26:45Z","start_date_local":"2023-01-18T09:26:45Z","distance":1609.34,"start_index":99,"end_index":179,"total_elevation_gain":0,"average_speed":4.04,"max_speed":4.589,"average_cadence":83.2,"device_watts":false,"average_heartrate":159.1,"max_heartrate":171.0,"lap_index":2,"split":2,"pace_zone":0},{"id":28316729880,"resource_state":2,"name":"Lap
        3","activity":{"id":8412762253,"resource_state":1},"athlete":{"id":111365515,"resource_state":1},"elapsed_time":373,"moving_time":373,"start_date":"2023-01-18T16:33:23Z","start_date_local":"2023-01-18T09:33:23Z","distance":1283.9,"start_index":180,"end_index":246,"total_elevation_gain":0,"average_speed":3.44,"max_speed":4.613,"average_cadence":80.9,"device_watts":false,"average_heartrate":164.9,"max_heartrate":174.0,"lap_index":3,"split":3,"pace_zone":0}],"best_efforts":[],"photos":{"primary":null,"count":0},"stats_visibility":[{"type":"heart_rate","visibility":"everyone"},{"type":"pace","visibility":"everyone"},{"type":"power","visibility":"everyone"},{"type":"speed","visibility":"everyone"},{"type":"calories","visibility":"everyone"}],"hide_from_home":false,"device_name":"Garmin
        Forerunner 935","embed_token":"7a6a1833b62e98ee9d7f673ddc8d83f9f4e6ce6c","similar_activities":{"effort_count":0,"average_speed":0,"min_average_speed":0,"mid_average_speed":0,"max_average_speed":0,"pr_rank":null,"frequency_milestone":null,"trend":{"speeds":[],"current_activity_index":null,"min_speed":0,"mid_speed":0,"max_speed":0,"direction":0},"resource_state":2},"available_zones":[]}'
  recorded_at: Thu, 19 Jan 2023 19:08:50 GMT
recorded_with: VCR 6.1.0
