---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 96c401bc3baf0c0d272c30c473cf06bded9ad3ba
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a558209f3bd756a3a7f72085773046f4"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '100,1000'
      X-Ratelimit-Usage:
      - '1,19'
    body:
      encoding: ASCII-8BIT
      string: '{"id":16804102,"username":null,"resource_state":2,"firstname":"Lee","lastname":"Saville","bio":"","city":"","state":"","country":null,"sex":"M","premium":false,"summit":false,"created_at":"2016-08-07T22:35:28Z","updated_at":"2023-01-07T18:51:41Z","badge_type_id":0,"weight":0.0,"profile_medium":"https://lh3.googleusercontent.com/-zh1AiYBBMcM/AAAAAAAAAAI/AAAAAAAAHFU/sbtPGCNB1Io/photo.jpg","profile":"https://lh3.googleusercontent.com/-zh1AiYBBMcM/AAAAAAAAAAI/AAAAAAAAHFU/sbtPGCNB1Io/photo.jpg","friend":null,"follower":null}'
  recorded_at: Sat, 07 Jan 2023 19:25:50 GMT
recorded_with: VCR 6.1.0
